NAME=Jake-bot
AVATAR=https://cdn.discordapp.com/attachments/1196131147135066112/1415035317022490725/i-love-adventure-time-so-much-i-cant-even-express-in-words-v0-m70zutfh5bwd1.webp?ex=68c1bdd5&is=68c06c55&hm=1b59623124c4e5cdf828e1229f6e89f2b2bacb10d7f64c249bf621844ed9d0c7&
TYPE=bot
MAIN=src/index.ts
RAM=1000
AUTORESTART=false
VERSION=latest
APT=tools
START=npm run dev
BUILD=npm run build